<Elements>
<!---
	<Element>
		<Name></Name>
		<Cmd></Cmd>
		<Num_procs></Num_procs>
		<Autostart></Autostart>
		<Restart></Restart>
		<Exit_codes></Exit_codes>
		<Starting_time></Starting_time>
		<Retry_abort></Retry_abort>
		<Legit_signal></Legit_signal>
		<Time_kill></Time_kill>
		<Stdout>file</Stdout>
		<Stdout_file></Stdout_file>
		<Stderr></Stderr>
		<Stderr_file></Stderr_file>
		<Env_vars></Env_vars>
		<Work_dir></Work_dir>
		<Umask></Umask>
	</Element>
-->
	<Element>
		<Name>nginx</Name>
		<Cmd>/usr/local/bin/nginx -c /etc/nginx/test.conf</Cmd>
		<Num_procs>1</Num_procs>
		<Autostart>true</Autostart>
		<Restart>unexpected</Restart>
		<Exit_codes>0</Exit_codes>
		<Starting_time>10</Starting_time>
		<Retry_abort>3</Retry_abort>
		<Legit_signal>SIGQUIT</Legit_signal>
		<Time_kill>15</Time_kill>
		<Stdout>file</Stdout>
		<Stdout_file>toto.txt</Stdout_file>
		<Stderr>discard</Stderr>
		<Stderr_file></Stderr_file>
		<Env_vars>PATH=/bin,USER=toto</Env_vars>
		<Work_dir>/tmp/</Work_dir>
		<Umask>755</Umask>
	</Element>
</Elements>
